<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF Generator</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="body">
        
        <header>
            <div class="container">
                <h2 class="title">PDF Generator</h2>
                <img class="logo-img" src="logo.png">
            </div>
        </header>
    
        <div class="section">
            <h1 class="Welcome-msg">Welcome !</h1>
            <div class="outer">
                <div class="button">
                  <div class="text"><a href="genrate.html">Get Started →</a></div>
                </div>
              </div>
        </div>
    </div>
</body>
</html>