<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF Generator</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <header>
        <div class="container">
            <h2 class="title">PDF Generator</h2>
            <img class="logo-img" src="{% static 'images/logo.png' %}">
        </div>
    </header>

    <div class="main">
        <form action="" method="post">
            {% csrf_token %}
            <label for="title">Title: </label><br>
            <input id="title" class="file-title" type="text" name="title"><br>
            <label for="content">Content: </label><br>
            <textarea class="textarea" id="content" type="text" name="content"></textarea><br>
            <input class="button-section" type="submit" value="Generate PDF">
        </form>
    </div>

    <!-- <div class="file-title">
        <input class="file-title" type="text" placeholder="Title of your PDF">
        <textarea class="textarea" placeholder="Write your content" id=""></textarea>
    </div>

    <div class="button-section">
        <button>
            <h1 class="text">Generate your PDF ↓</h1>
            <h1 class="text">Generate your PDF ↓
        </button>
    </div> -->
</body>

</html>